.header {
    position: relative;
    height: 747px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    }
    .header::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgb(42, 50, 83, 0.2);
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .logo-title{
        position: relative;
        z-index: 3;
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 800;
        line-height: 36px;
        text-align: center;
        color: #656980;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scolor{
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 100;
        color:#FFFFFF;
    }
    .navigation{
        width: 606px;
    }
    
    .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    
    .navigation-list__item {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    font-family: "Raleway";
    position: relative;
    z-index: 3;
    }

    .navigation-list__item a:active {
        color: #E71414;
    }
    .navigation-list__item :active::before{
    background-color: #E71414;
    }

    .navigation-list__item a {
        color:#FFFFFF;
    }
    .navigation-list__item a:hover::before{
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
        transition: all 1.0s;
    
    }
    .navigation-list__item a:before{
        content:'';
        width: 100%;
        height: 3px;
        background-color:#BABBC5;
        position: absolute;
        left: 0;
        bottom: -51px;
        opacity: 0;
        transform: translateY(10px) rotate(2deg);
        transition: all 1.0s;
    }
    .line-shadow__items::before{
        content:"";
        background: #BABBC5;
        width: 100%;
        height: 1px;
        display: block;
        margin: auto;
    }
    .banner-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
        border: 2px solid crimson;
    }
    .title-b{
        width: 100%;
        border: 2px solid crimson;
    }
.title-banner{
    border: 2px solid crimson;
    padding: 30px 0;
    font-family: "Raleway";
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
    margin-bottom: 20px;
    color:#FFFFFF;
    text-transform: uppercase;
}
.paragraph{
    width: 100%;
    border: 2px solid crimson;
    margin-bottom: 30px;
}
.paragraph p {
    border: 2px solid crimson;
    padding: 15px 15px;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    color:#FFFFFF;
}
.button-link{
display: flex;
justify-content: center;
width: 370px;
align-items: center ;
position: relative;
z-index: 2;
}
.button-link__item{
    width: 370px;
    padding: 28px 0;
    font-family:"Raleway";
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#FF4343;
    transition: 0.35s;
}
.button-link__item:hover{
    background-color:#E71414;
}
.button-link__item:active{
    background-color: #FF4343;
    box-shadow:  4px 4px 30px 5px rgb(248, 83, 83, 0.4);
}
.burger__map{
    display: none;
}
@media(max-width: 767px){
    .html.lock{
     overflow: hidden;
    }
    .header {
        position: relative;
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        }
.burger__map{
display: block;
position: relative;
width: 30px;
height: 20px;
top: 0;
left: 78%;
z-index: 3;
} 
.burger__map span{
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: 1s all ease 0s;
}
.navigation-list{
    position: fixed;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    top:0;
    right: -100%;
    transition: 1s all ease 0s;
    padding: 160px 20px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    z-index: 2;
}
.navigation-list.active{
    right: 0;
}
.burger__map::before, 
.burger__map::after{
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.5s all ease 0s;
   }
   .burger__map::before{
    top: 0;
   }
   .burger__map::after{
    bottom: 0;
   }
    .navigation-list{
        display: block;
    }
    .navigation-list__item{
        margin-bottom: 20px;
    }
    .burger__map.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .burger__map.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger__map.active span{
        transform: scale(0);

    }
    .banner-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
        border: 2px solid crimson;
    }
    .title-b{
        width: 100%;
        border: 2px solid crimson;
    }
.title-banner{
    border: 2px solid crimson;
    padding: 30px 0;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
    color:#FFFFFF;
    text-transform: uppercase;
}
.paragraph{
    width: 100%;
    border: 2px solid crimson;
    margin-bottom: 30px;
}
.paragraph p {
    border: 2px solid crimson;
    padding: 15px 15px;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color:#FFFFFF;
    line-height: 20px;
}
.button-link{
    display: flex;
    justify-content: center;
    width: 287px;
    align-items: center ;
    position: relative;
    z-index: 1;
    }
    .button-link__item{
        width: 100%;
        padding: 28px 0;
        font-family:"Raleway";
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color:#FF4343;
        transition: 0.35s;
    }
    .button-link__item:hover{
        background-color:#E71414;
    }
    .button-link__item:active{
        background-color: #FF4343;
        box-shadow:  4px 4px 30px 5px rgb(248, 83, 83, 0.4);
    }
    .navigation-list__item a:before{
        content:'';
        width: 100%;
        height: 3px;
        background-color:#BABBC5;
        position: absolute;
        left: 0;
        bottom: -51px;
        opacity: 0;
        transform: translateY(10px) rotate(2deg);
        transition: all 1.0s;
        display: none;
    }
   }
